GitHubClone
.svn
UI/UI.csproj.user
WordCollocation/
DAL/Properties/
UI/Web.config
UI/app.config
UI/Web.release.config
UI/Web.debug.config
UI/*.csproj
UI/bin/
UI/obj/
UI/Properties/
DAL/obj/
BLL/obj/
BLL/bin/
DAL/bin/
THResources/obj/
THResources/bin/
UI/*.html
UI/*.txt
UI/*.config
UI/*.aspx
UI/*.aspx.cs
UI/*.aspx.designer.cs
BLL/*.csproj
UI/*.csproj.*
DAL/*.csproj
DAL/app.config