GitHubClone
.svn
BLL/obj/
BLL/bin/
BLL/*.csproj
DAL/app.config
DAL/bin/
DAL/obj/
DAL/Properties/
THResources/obj/
THResources/bin/
UI/Web.config
UI/app.config
UI/Web.release.config
UI/Web.debug.config
UI/*.csproj
UI/bin/
UI/obj/
UI/Properties/
UI/*.html
UI/*.txt
UI/*.config
UI/*.aspx
UI/*.aspx.cs
UI/*.aspx.designer.cs
UI/*.csproj.*
UI/UI.csproj.user
WordCollocation/

