<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.LocalConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=WordCollocationTest;Integrated Security=True" />
        <add name="DAL.Properties.Settings.RemoteConnectionString" connectionString="Data Source=mssql08r2.sys11.hostasp.net;Initial Catalog=TranslationHall2013;User ID=a1771550;Password=F3No200PakLongTsuen" />
        <add name="DAL.Properties.Settings.DbConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=WordCollocationTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <DAL.Properties.Settings>
            <setting name="DbType" serializeAs="String">
                <value>MsSql</value>
            </setting>
        </DAL.Properties.Settings>
    </applicationSettings>
</configuration>