@using UI.Controllers
@model HandleErrorInfo

@{
	string title, description;
	HttpStatusErrorCode code = (HttpStatusErrorCode)ViewBag.ErrorCode;
	switch (code)
	{
		case HttpStatusErrorCode.code403:
			title = Resources.AccessDenied;
			description = Resources.AccessDeniedDescription;
			break;
		case HttpStatusErrorCode.code404:
			title = Resources.ResourcesNotFound;
			description = string.Format("{0}，{1}", Resources.Sorry, Resources.ResourcesNotFoundDescription);
			break;
		case HttpStatusErrorCode.UrlErrors:
			title = Resources.UrlErrors;
			description = string.Format("{0}，{1}", Resources.Sorry, Resources.UrlErrorsDescription);
			break;
		default:
			title = Resources.SystemError;
			description = Resources.UnknownErrorOccurred;
			break;
	}
	ViewBag.Title = title;
}

@*<h1 class="text-danger">Error.</h1>
	<h2 class="text-danger">An error occurred while processing your request.</h2>*@
<div class="row main-content">

	<div class="offset1 span6 zone-content">
		<h1>@title</h1>

		<p class="lead text-danger notfound-message">
			@description
		</p>
	</div>
</div>
