@model IHtmlString
<ul id="socialLinks">
	<!-- replace the links below (http://www.translationhall.com) with Request.Url.AbsouluteUrl on depolyment -->
	<li>
		<a href="https://www.facebook.com/sharer/sharer.php?u=http%3a%2f%2fwww.translationhall.com" class="popup">
			<i class="smicon-facebook"></i>
		</a>
	</li>

	<li>
		<a href="http://twitter.com/home?status=http%3a%2f%2fwww.translationhall.com" class="popup">
			<i class="smicon-twitter"></i>
		</a>
	</li>
	<li>
		<a href="https://plus.google.com/share?url=http%3a%2f%2fwww.translationhall.com" class="popup">
			<i class="smicon-google"></i>
		</a>
	</li>
	<li>
		<a href="http://www.reddit.com/submit?url=http%3a%2f%2fwww.translationhall.com">
			<i class="smicon-reddit"></i>
		</a>
	</li>
	<li>
		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3a%2f%2fwww.translationhall.com" class="popup">
			<i class="smicon-linkedin"></i>
		</a>
	</li>
	<li>
		<a href="http://pinterest.com/pin/create/button/?url=http%3a%2f%2fwww.translationhall.com">
			<i class="smicon-pinterest"></i>
		</a>
	</li>
</ul>

<div class="row">
	<div class="copyright span12">@Model</div>
</div>
