<div class="offset3 span4 zone-content">
	<img id="imgUnderconstruction" src="~/img/UnderConstruction.png" alt="@Resources.UnderConstruction" title="@Resources.UnderConstruction" />
	<span class="text-danger">@Resources.UnderConstruction</span>
</div>