@model HandleErrorInfo

@{
	ViewBag.Title = Resources.SystemError;
}

@*<h1 class="text-danger">Error.</h1>
	<h2 class="text-danger">An error occurred while processing your request.</h2>*@
<div class="row main-content">

	<div class="offset1 span6 zone-content">
		<h1 class="notfound-title">@Resources.SystemError</h1>

		<p class="lead text-danger notfound-message">
			@Resources.UnknownErrorOccurred
		</p>
	</div>
</div>
