@{
	ViewBag.Title = Resources.ResetPasswordComplete;
}

@section Scripts {
	<script src="/js/autoredirect.js"></script>
}

<h2>@Resources.ResetPasswordComplete</h2>
<div class="text-smaller">@Resources.SystemWillRedirectText1 <span id="timeout"></span> @Resources.SystemWillRedirectText2</div>
