@{
	ViewBag.Title = Resources.RegisterSuccess;
}

@section Scripts {
	<script src="/js/autoredirect.js"></script>
}

<h2>@Resources.RegisterSuccess</h2>
<p>@Resources.ThanksForRegister</p>
<div class="text-smaller">@Resources.SystemWillRedirectText1 <span id="timeout"></span> @Resources.SystemWillRedirectText2</div>


